@import "tailwindcss";

html {
    --background1: #FFFFFF;
    --background2: #E9E9E9;
    --foreground1: #000000;
    --foreground2: #919191;
    --foreground3: #C1C1C1;
    --accent1: #172852;

    width: 100%;
    height: 100%;
}

html.dark {
    --background1: #131313;
    --background2: #181818;
    --foreground1: #8f8f8f;
    --foreground2: #707070;
    --foreground3: #3a3a3a;
    --accent1: #3b3a53;
}

body {
    background: var(--background2);
    color: var(--foreground1);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sams-separator {
    background-color: var(--foreground3);
}

.sams-separator[data-orientation="horizontal"] {
    height: 1px;
    width: 90%;
}

.sams-separator[data-orientation="vertical"] {
    height: 90%;
    width: 1px;
}

::-webkit-scrollbar {
    background-color: #b1b1b1;
    border-radius: 0px 20px 20px 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #8d8d8d;
    border-radius: 0px 20px 20px 0px;
    margin: 10px;
}

.sams {
    background-color: var(--background2);
    margin: 6px;
    border: 2px solid var(--foreground2);
    display: flex;
    width: calc(100dvw - 14px);
    height: calc(100dvh - 14px);
}

.sams-content {
    width: 80%;
    min-height: calc(100dvh - 16px);
}

.sams-content-header {
    height: 13%;
    margin-bottom: 7dvh;
    background-color: var(--accent1);
    color: var(--background1);
    align-items: center;
}

.sams-content-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
}

.sams-content-subtitle {
    font-weight: bold;
    margin-left: 20px;
    color: var(--background1);
}

.sams-content-subtitle-highlight {
    color: var(--foreground2);
}

.sams-content-panels {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 0%;
    height: 100%;
}

.sams-content-panel {
    height: 80%;
    width: 30%;
    background-color: var(--background1);
    color: var(--accent1);
    box-shadow: 0px 2px 1px var(--foreground3);
    border-radius: 3px;
}

.sams-nav {
    display: flex;
    flex-direction: column;
    background-color: var(--background1);
    border-right: 2px solid var(--foreground3);
    padding: 10px;
    height: 100%;
    align-items: center;
    width: 20%;
}

.sams-nav-header {
    display: flex;
    align-items: center;
}

.sams-nav-header-logo {
    position: relative;
    width: 120px;
    height: 40px;
    margin-right: 10px;
}

.sams-nav-header-logo img {
    object-fit: contain;
}

.sams-nav-header-title {
    font-size: 1rem;
    color: #ED1E28;
}

.sams-nav-pfp {
    width: 100px;
    height: 100px;
    position: relative;
}

.sams-nav-pfp img {
    border-radius: 50%;
    object-fit: contain;
}

.sams-nav-username {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--foreground1);
}

.sams-nav-email {
    font-size: 0.9rem;
    color: var(--accent1);
}

.sams-nav-settings {
    margin-top: auto;
    cursor: pointer;
    color: var(--foreground2);
    display: flex;
    align-items: center;
    gap: 5px;
    align-self: self-start;
}

.sams-nav-settings-content {
    display: flex;
    flex-direction: column;
    background-color: var(--background1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px var(--foreground1);
    z-index: 100;
    margin: 8px;
    align-items: flex-start;
    color: var(--foreground2);
}

.sams-nav-settings-switch {
    width: 40px;
    height: 20px;
    background-color: var(--foreground3);
    border-radius: 10px;
    position: relative;
    margin-left: 10px;
}

.sams-nav-settings-switch-thumb {
    width: 18px;
    height: 18px;
    background-color: var(--background1);
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.2s;
}

.sams-nav-settings-switch[data-state="checked"] .sams-nav-settings-switch-thumb {
    transform: translateX(20px);
}

.sams-nav-settings-arrow {
    fill: var(--background1);
}

.sams-nav-links {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.sams-nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 5px 0;
    padding: 5px;
    min-width: 100px;
    gap: 15px;
}

.sams-nav-link[data-state="active"] {
    background-color: var(--accent1);
    color: var(--background1);
}

.sams-nav-link[data-state="inactive"] {
    background-color: var(--foreground3);
}

.sams-error-toast-viewport {
    --viewport-padding: 25px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: var(--viewport-padding);
    gap: 10px;
    width: 390px;
    max-width: 100vw;
    margin: 0;
    list-style: none;
    z-index: 2147483647;
    outline: none;
}

.sams-error-toast {
    background-color: rgba(189, 45, 45, 0.8);
    backdrop-filter: blur(4px);
    color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sams-error-toast-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right: 16px;
    gap: 2px;
}

.sams-error-toast-close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

.sams-error-toast[data-state="open"] {
    animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.sams-error-toast[data-state="closed"] {
    animation: hide 100ms ease-in;
}

.sams-error-toast[data-swipe="move"] {
    transform: translateX(var(--radix-toast-swipe-move-x));
}

.sams-error-toast[data-swipe="cancel"] {
    transform: translateX(0);
    transition: transform 200ms ease-out;
}

.sams-error-toast[data-swipe="end"] {
    animation: swipeOut 100ms ease-out;
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(calc(100% + var(--viewport-padding)));
    }

    to {
        transform: translateX(0);
    }
}

@keyframes swipeOut {
    from {
        transform: translateX(var(--radix-toast-swipe-end-x));
    }

    to {
        transform: translateX(calc(100% + var(--viewport-padding)));
    }
}